<div class="popup">
        <div class="popup-flex-container">
            <div class="popup-flex-item">
                <img src="leftarrow.png" class="popup-inner-item">
                <p>Item 1</p>
            </div>
        </div>
    </div>