<div class="popup">
        <div class="flex-container">
            <div class="flex-item">
                <img src="leftarrow.png">
                <p>Item 1</p>
            </div>
        </div>
    </div>