<div style="background-color:#@color; height:800px; width:800px;" @onclick="OnClickCallback">
    <p style="color: white; font-size:50px">@content</p>
</div>
<script>
    window.triggerClick = (elt) => elt.click();
</script>
@code {
    [Parameter]
    public String color { get; set; }
    [Parameter]
    public String content { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
}
